body {
    margin: 0;
    padding: 0;
    background: #FFF8F0;
}
.name {
    width: 100%;
    height: 200px;
    background-color: #04c1b4;
    transform: skewY(-5deg);
}
.name .main {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
}
.name .main .p-1 {
    color: #FFF8F0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    transform: skewY(5deg);
    margin-bottom: 0;
}
.name .main .p-2 {
    color: #FFF8F0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 25px;
    transform: skewY(5deg);
    margin-top: 0;
    margin-bottom: 0;
}
.name .img {
    position: absolute;
    top: 8%;
    right: 5%;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    transform: ShewY(5deg);
    overflow: hidden;
}
.name .img img {
    width: 180px;
    height: 200px;
}

.dato {
    width: 90%;
    height: auto;
    background-color: #04c1b4;
    margin: 5% auto;
    padding: 20px;
    border-radius: 20px;
}
.dato .titulodato {
    color: #FFF8F0;
    font-family: 'Plus Jakarta Sans 3', sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px #FFF8F0 solid;
}
.dato .tituloseccion {
    color: #FFF8F0;
    font-family: 'Plus Jakarta Sans 3',sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
}
.dato .tituloinfo {
    color: #FFF8F0;
    font-family: 'Plus Jakarta Sans 3',sans-serif;
    font-weight: normal;
    font-size: large;
    display: inline;
}